$theme1: #1565c0;

.main-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  .container,
  .navigation {
    margin: auto;
    transition: 0.2s linear;
    animation: scale 0.5s;
    .sub-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 3.5rem;
        animation: App-logo-spin infinite 5s linear;
      }
      .service {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        .item-sv {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.2rem 0.5rem;
          border-radius: 10px;
          margin: 0 0.5rem 0 0;
          transition: 0.2s linear;
          img {
            width: 1.3rem;
            margin: 0 0.5rem 0 0;
          }
          &:hover {
            background: #eaeaea;
          }
          &.user {
            margin: 0;
            span {
              margin-right: 0.5rem;
            }
          }
          .item-drop {
            display: flex;
            align-items: center;
            span,
            a {
              margin-left: 0.5rem;
            }
            img {
              margin: 0;
              width: 1.5rem;
            }
          }
          &.dropdown {
            position: relative;
            &.theme {
              .dropdown-list {
                display: flex;
                width: 130px;
                .color {
                  width: calc(82% / 3);
                  height: 36px;
                  display: block;
                  margin: 0 3%;
                  border-radius: 10px;
                  &.blue {
                    background: blue;
                  }
                  &.red {
                    background: red;
                  }
                  &.green {
                    background: green;
                  }
                }
              }
            }
            .dropdown-list {
              position: absolute;
              list-style: none;
              padding: 0.6rem;
              right: 0;
              font-size: 0.9rem;
              top: 34px;
              width: 170px;
              border-radius: 10px;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              z-index: -1;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s;
              margin: 0;
              background: #fff;
              li {
                padding: 0.4rem 0.7rem;
                margin-bottom: 0.3rem;
                display: flex;
                align-items: center;
                border-radius: 10px;
                &:hover {
                  background: #afafaf44;
                }
              }
            }
            &:hover {
              .dropdown-list,
              .dropdown-list:hover {
                z-index: 2;
                opacity: 1;
                visibility: unset;
              }
            }
          }
        }
        .item-nav {
          padding: 0.7rem 0.5rem;
          &.dropdown {
            .dropdown-list {
              background-color: $theme1;
              top: 46px;
              left: 0;
              width: 250px;
            }
          }
          a,
          span {
            font-size: 1rem;
            color: #fff;
          }
          &:hover {
            background: #00000047;
          }
        }
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
    .hamberger,
    .btn-user {
      display: none;
    }
  }
  .container-nav {
    background: $theme1;
    .sub-container {
      .service {
        .item-sv {
          .item-drop {
            img {
              width: 1rem;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .main-header {
    .container,
    .navigation {
      max-width: 1550px;
      padding: 0 3rem;
    }
  }
}
@media (min-width: 1280px) {
  .main-header {
    .container,
    .navigation {
      padding: 0rem 3rem;
    }
  }
}
@media (max-width: 1000px) {
  .main-header {
    .navigation {
      .sub-container {
        .service {
          .item-sv {
            margin: 0;
            img {
              display: none;
            }
            // a,
            // span {
            //   font-size: 0.9rem;
            // }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .main-header {
    &.overlay::before {
      content: "";
      width: 100vw;
      height: 100vh;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.208);
      z-index: 1;
    }
    .container {
      display: flex;
      justify-content: space-between;
      .hamberger,
      .btn-user {
        display: block;
        border: 0;
        background: transparent;
        position: relative;
        z-index: 4;
        img {
          width: 2rem;
        }
      }
    }
    .container-nav {
      width: 80%;
      transform: translateX(-1000px);
      transition: all 0.5s ease;
      z-index: 3;
      position: absolute;
      height: 100vh;
      .navigation {
        .nav-bar {
          .service {
            flex-direction: column;
            .item-sv {
              margin-right: auto;
              .item-drop {
                span {
                  margin: 0;
                }
              }
            }
          }
        }
      }
      &.active {
        transform: translateX(0);
      }
    }
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
